{% extends "basic/layout.html" %}

{% set script_files = script_files + [pathto("_static/searchtools.js", 1)] %}

{% block htmltitle %}
{{ super() }}

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

{% endblock %}

{% block footer %}
{{ super() }}
 <!-- End original user content -->
{% if not using_theme %}
<hr>
{% endif %}

{% if theme_analytics_code %}
<!-- Google Analytics Code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ theme_analytics_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

{% endblock %}
